@model IEnumerable<DotNetDeployments.Models.ProjectModel>

@{
    ViewData["Title"] = "Projects";
}

<h2>Projects</h2>

<p>
    <a asp-action="Add">Add</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SolutionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwsAppName)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SolutionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AwsAppName)
                </td>                
                <td>
                    @Html.ActionLink("Deployment Config", "Edit", "DeploymentConfiguration", new { id = item.AwsAppName }) 
                </td>
            </tr>
        }
    </tbody>
</table>


